@use "../commun/variables";
@use "modeles";
@use "theme";

// *
// *  CSS pour le site de Daldo Marte
// *  Body et les styles communs à toutes les pages
// * Le 06/06/2021
// *
//********************************************************************

// *
// *                  Objets SCSS
// ********************************************************************

%paralax {
  width: 100%;
  overflow: hidden;

  @supports (-webkit-touch-callout: none) {
    background: {
      attachment: scroll;
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  }

  @supports not (-webkit-touch-callout: none) {
    background: {
      attachment: fixed;
      position: center center;
      repeat: no-repeat;
      size: cover;
    }
  }
}


.table-hover {
  width: 100%;
  margin: 1rem 0rem;

  tr {
    vertical-align: top;
  }

  th {
    width: 15%;
    padding: 0.3rem 1rem;
    text-align: left;
    font-weight: bolder;
  }

  td {
    padding: 0.3rem 1rem;
    text-align: justify;
    font-weight: left;
    white-space: break-word;
    vertical-align: top;
  }
}

// *
// *                          entete
//*********************************************************************
.myentete {
  text-align: center;
  background-color: theme.$Palette-couleur-1;
  width: 100%;

  & h1 {
    margin: 1rem 0 0 0;
    font-size: 2.5rem;
    color: black;
    opacity: 0;
    transform: translateY(-100px);
    animation: enteteOpacityTranslate 1.5s ease-in 0.3s forwards;

    @keyframes enteteOpacityTranslate {
      from {
        opacity: 0;
        transform: translateY(-100px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  & h2 {
    margin: 0.5rem 0;
    font-size: 1.6rem;
    //transition: opacity 3s ease-in;
    animation: enteteOpacity 3s ease-in 0.3s forwards;

    @keyframes enteteOpacity {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  & a {
    @extend %supp-a-btn;
  }

}

// *                   Les titres mis en valeur
// *********************************************************************

.HTitle {
  margin: 0px;
  min-height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}