@use "../commun/variables";
@use "theme";

// *                            Footer
// *********************************************************************
footer {
  width: 100%;
  margin: 1rem 0 0.5rem;
  text-align: center;
  font-size: 0.8rem;

  @media #{variables.$small-down} {
    opacity: 0;
  }

  & img {
    width: 80px;
    aspect-ratio: 1/1;
  }

  & hr {
    margin: 0.5rem auto;
    width: 20%;
    border-top: 1px solid theme.$Palette-couleur-3;
  }
}