// *
// * CSS pour le site de Daldo Marte
// * 03/02/2021 Mise à jour en scss
// * 11/12/2021 update avec fski_css_1_00
// * 05/02/2022 fix ipad paralax
// * 01/03/2025 refactoring du css
//********************************************************************

@use "commun/reset-soft";
@use "commun/variables";

@use "modules/theme";
@use "modules/container";
@use "modules/modeles";
@use "modules/daldo-menu";
@use "modules/menu-mobile";
@use "modules/islider";
@use "modules/home";
@use "modules/news";
@use "modules/biography";
@use "modules/video";
@use "modules/contact";
@use "modules/form";
@use "modules/heading";
@use "modules/footer";

body {
  font-family: theme.$theme-police-2;
  color: theme.$theme-font;
  background-color: theme.$Palette-couleur-1;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin: 1rem 0rem;
  font-size: 2.2rem;
  font-family: theme.$theme-police-1;
  font-weight: 600;
}

h2 {
  margin: 0.5rem 0rem;
  font-family: theme.$theme-police-2;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

h3 {
  font-size: 1.6rem;
  font-family: theme.$theme-police-2;
  text-shadow: 1px 1px 4px #888888;
  font-weight: 400;
  text-align: left;
  margin-bottom: 1rem;
}

h4 {
  font-family: theme.$theme-police-2;
  font-size: 1.4rem;
  margin: 20px auto;
  text-align: left;
}

p {
  text-align: justify;
  line-height: 1.3rem;
  white-space: break-word;
}

.btn {
  @extend %supp-a-btn;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  transition: 0.5s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    font-weight: bolder;
    cursor: pointer;
  }
}

.hide-small {
  @media #{variables.$small-down} {
    display: none;
  }
}

.myhomeparalax {

  @extend %paralax;
  min-height: 700px;

  @media #{variables.$small-down} {
    min-height: 600px;
  }

  &.bg-3 {
    &.jpg {
      background-image: url(../assets/images/daldoBio.jpg);

      @media #{variables.$small-down} {
        background-image: url(../assets/images/daldoBio.jpg);
      }
    }
  }
}

.mylogo {
  width: 200px;
  height: auto;

  @media #{variables.$medium-down} {
    width: 150px;
  }
}

.shadow {
  box-shadow: theme.$box-shadow;
}

.pic-overlay {
  position: relative;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  & .text {
    position: absolute;
    color: theme.$theme-bg;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  & .effect-left {
    position: absolute;
    z-index: 25;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(theme.$Palette-couleur-5, 0.9);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
  }

  &:hover .effect-left {
    width: 100%;
  }

  &:hover .text {
    opacity: 1;
    transition: opacity 0.3s ease 0.5s;
  }
}

// *
// *                 Le chargement
// *********************************************************************
#daldo-loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: azure;
  display: none;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

// *
// *                 L'en-tete de certaines pages
// *********************************************************************

.HTitle {
  margin: 0px;
  min-height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}